.company {
    display: flex;
}

img {
    height: 13em;
    width: 18em;
}

span {
    color: gold;
}

.text {
    padding-left: 10px;
}

button {
    margin-right: 25px;
    margin-left: 20px;
}

.cls {
    background-color: rgb(157, 222, 157);
    padding: 7px 7px 7px 7px;
}

.cls:hover {
    cursor: pointer;
    transform: scale(1.1);
}

h3 {
    color: red;
    font-weight: bolder;
    font-family: geneva;
}